{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}


<style>
    #home {
        background-color: blue;
    }

    .controls button {
        color: white;
        padding: 8px;
        border-radius: 8px;
        border: none;
        font-size: 20px;
      
        cursor: pointer;
        margin-bottom: 1px;
        margin-top: 1px;
    }

    @media (max-width: 1200px) {
        .para {
            font-size: 70px;
        }

        .subtitle {
            font-size: 70px;
        }

        .small,
        small {
            font-size: 45px;
        }


    }
</style>
<div class="post block">

    <h2 class="subtitle" class=" ">{{ post.title }}</h2>

    <small>Posted at {{ post.date_added }}</small>

    <p class="para">{{ post.intro }}</p>

    <small>
        <section class="controls">
            <button id="home" onclick="window.open('{% url 'post_detail' post.slug %}','_self');">Read more</button>
        </section>
    </small>
</div>
{% endfor %}
{% endblock %}
